@model SecurityMine.Models.LoginModel

@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

<form method="post" action="/Admin/Login">
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <br />
    @Html.LabelFor(m => m.UserName)
    <br />
    @Html.EditorFor(m => m.UserName)
    @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })

    <br />
    @Html.LabelFor(m => m.Password)
    <br />
    @*@Html.EditorFor(m => m.Password)*@
    <input type="password" name="Password" />
    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
    <br />
    @Html.EditorFor(m => m.RememberMe)
    @Html.LabelFor(m => m.RememberMe)
    @Html.ValidationMessageFor(m => m.RememberMe, "", new { @class = "text-danger" })
    <br />
    <input type="submit" value="Login" class="btn btn-success" />

    @Html.ValidationMessage("", new { @class = "text-danger" })
</form>

<br />
<form action="/Admin/ResetPasswd">
    <input type="submit" value="Reset Password" class="btn btn-primary" />
</form>

